<div class="row">
  <div class="large-12 small-12 columns">
    <h1 class="centra charT">Managment</h1>

    <fieldset>
      <div class="row">
        <div class="large-4 small-4 columns">
          <%= link_to  managment_products_path do %>
            <%= image_tag "/system/managment/product.jpg" %>
            <div class="panel centra">
              <h6>Products</h6>
            </div>
          <% end %>
        </div>

        <div class="large-4 small-4 columns">
          <%= link_to  managment_users_path do %>
            <%= image_tag "/system/managment/user.jpg" %>
            <div class="panel centra">
              <h6>Users</h6>
            </div>
          <% end %>
        </div>

        <div class="large-4 small-4 columns">
          <%= link_to  managment_orders_path do %>
            <%= image_tag "/system/managment/order.jpg" %>
            <div class="panel centra">
              <h6>Orders</h6>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">

<table id="products" class="display large-12 small-12 columns">
<caption>Ultimi 20 Prodotti Inseriti</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th class="show-for-large-up">Category</th>
      <th>Qnt</th>
      <th class="show-for-large-up">Price</th>
      <th>Active</th>
      <th>Push</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %> </td>
	<td><%= link_to(product.title, product) %></td>        
	<td class="show-for-large-up"><%= product.category.name %></td>
        <td>
          <% if product.category.id.between?(1, 4) %>
            <%= number_to_currency(product.qnt,:unit => "Kg ", :separator => ",", :delimiter => ".", precision: 3) %>
          <% else %>
            <%= number_to_currency(product.qnt, :unit => "Ltr ", :separator => ",", :delimiter => ".", precision: 3) %>
          <% end %>
        </td>
        <td class="show-for-large-up"><%= number_to_currency(product.price, :unit => "€ ", :separator => ",", :delimiter => ".") %></td>
        <td><%= product.active %></td>
        <td><%= product.push %></td>
        
      </tr>
    <% end %>

  </tbody>
</table>

<br />

<table class="users display large-12 small-12 columns">
<caption>Ultimi 20 Utenti Loggati</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Last Access</th>
      <th class="show-for-large-up">Last Ip</th>
      <th>Accessi</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to(user.email, admin_profile_path(id: user.id)) %></td>
        <td><%= user.last_sign_in_at.to_formatted_s(:long) %></td>
        <td class="show-for-large-up"><%= user.last_sign_in_ip %></td>
        <td><%= user.sign_in_count %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br />

<table class="users display large-12 small-12 columns">
<caption>Ultimi 6 Admin Loggati</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Last Access</th>
      <th class="show-for-large-up">Last Ip</th>
      <th>Accessi</th>
    </tr>
  </thead>

  <tbody>
    <% @usersA.each do |userA| %>
      <tr>
        <td><%= userA.id %></td>
        <td><%= link_to(userA.email, admin_profile_path(id: userA.id)) %></td>
        <td><%= userA.last_sign_in_at.to_formatted_s(:long) %></td>
        <td class="show-for-large-up"><%= userA.last_sign_in_ip %></td>
        <td><%= userA.sign_in_count %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br />

<table id="orders" class="display large-12 small-12 columns">
<caption>Ultimi 20 Ordini Ricevuti</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th class="show-for-large-up">Create</th>
      <th class="show-for-large-up">Expense</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to(order.id, order) %> </td>
	<td><%= link_to(order.user.email, admin_profile_path(id: order.user.id)) %></td>
        <td class="show-for-large-up"><%= order.created_at.to_formatted_s(:long) %></td>
        <td class="show-for-large-up"><%= number_to_currency(order.expense, :unit => "€ ", :separator => ",", :delimiter => ".") %></td>
        <td><%= order.status.name %></td>
      </tr>
    <% end %>

  </tbody>
</table>

  </div>
</div>



