<div class="row">
  <div class="large-12 column">
    <h1 class="centra charT">Profilo di <%= @user.information.name.capitalize + " " + @user.information.surname.capitalize %></h1>    

    <div class="large-5 column centra">
      <%= image_tag @user.information.image_url.url(:large), class:'show_img_user' %>
    </div>

  <div class="large-7 column">
    <table class="large-12 column">
      <tr>
         <td><h5>E-mail</h5></td>
         <td><h6><%= @user.email %><h6></td> 
      </tr>
      <tr>
         <td><h5>Data di nascita</h5></td>
         <td><h6><%= @user.information.date_of_birth.nil? ?  @user.information.date_of_birth : @user.information.date_of_birth.strftime("%d-%m-%Y") %><h6></td> 
      </tr>
      <tr>
         <td><h5>Indirizzo</h5></td>
         <td><h6><%= @user.information.andress %><h6></td> 
      </tr>
      <tr>
         <td><h5>Città</h5></td>
         <td><h6><%= @user.information.city %><h6></td> 
      </tr>
      <tr>
         <td><h5>Nazione</h5></td>
         <td><h6><%= @user.information.country %><h6></td> 
      </tr>
      <tr>
         <td><h5>CAP</h5></td>
         <td><h6><%= @user.information.post_code %><h6></td> 
      </tr>
      <tr>
         <td><h5>Telefono</h5></td>
         <td><h6><%= @user.information.phone %><h6></td> 
      </tr>
    </table>

    <% if current_user? %>
      <%= button_to 'Modifica', edit_user_registration_path, method: :get, class: 'button radius expand' %>
    <% end %>
   
  </div>


</div>



</div>



