<div class="row">
  <div class="large-12 small-12 columns">
<h1 class="centra charT">La lista dei tuoi Desideri</h1>

   <%= foundation_paginate @wishs %>
    <% @wishs.each do |wish| %>

      <table class="large-12 column">
        <tr>
          <td class="large-3 column centra"><%= link_to (image_tag wish.product.image_url.url(:large)), product_path(wish.product) %></td>
          <td class="large-6 column">
            <h4><%= link_to wish.product.title, product_path(wish.product) %></h4>
            <h5>Prezzo: <%= number_to_currency(wish.product.price,:unit => "€ ", :separator => ",", :delimiter => ".") %></h5>
            <h5>Disponibilità (kg): <%= number_to_currency(wish.product.qnt, :unit => "", :separator => ",", :delimiter => ".", precision: 3) %></h5>     
          </td>
          <td class="large-3 column centra"><%= link_to 'Elimina', delete_to_wishlist_path(product_id: wish.product_id), data: { confirm: 'Are you sure?' }, method: :delete, class:'button radius expand' %></td>
        </tr>
      </table>    

    <% end %>
    <%= foundation_paginate @wishs %>

</div>
</div>
