<div class="row">
  <div class="large-12 small-12 columns">
<h1 class="centra charT">I tuoi Ordini</h1>

<%= foundation_paginate @orders %>
    <table class="large-12 small-12 columns">
        <thead>
    <tr>
      <th colspan="6" class="centra">Info Spedizione</th>
      <th colspan="3" class="centra">Info Ordine</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Post Code</th>
      <th>Create</th>
      <th>Costo</th>
      <th>Stato</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.surname %></td>
        <td><%= order.andress %></td>
        <td><%= order.city %></td>
        <td><%= order.country %></td>
        <td><%= order.post_code %></td>
        <td><%= order.created_at.to_formatted_s(:long) %></td>
        <td><%= number_to_currency(order.expense, :unit => "€ ", :separator => ",", :delimiter => ".") %></td>
        <td><%= order.status.name %></td>
        <td><%= link_to 'Show', order_path(order), class:'button radius tiny' %></td>
      </tr>
    <% end %>
  </tbody>
    </table>
<%= foundation_paginate @orders %>

</div>
</div>

