<div class="row">
  <div class="large-12 small-12 columns">
    <table class="large-12 small-12 columns">
        <captions><h1 class="centra charT">Info dell'Ordine <%= @order.id %></h1></caption>
        <thead>
      <tr>
         <th></th>
         <th>Quantità (Kg)</th>
         <th>Costo (Kg)</th>
         <th>Prodotto</th>
         <th>Costo</th>
      </tr>
   </thead>
   <tbody>
     <% for item in @order.line_items %>
        <tr>
          <td><%= image_tag item.product.image_url.url(:thumb) %></td>
          <td><%= number_to_currency(item.qnt,:unit => "", :separator => ",", :delimiter => ".", precision: 3) %></td>
          <td><%= number_to_currency(item.product.price, :unit => "€ ", :separator => ",", :delimiter => ".") %></td>
          <td><%= item.product.title %></td>
          <td><%= number_to_currency(item.total_price, :unit => "€ ", :separator => ",", :delimiter => ".") %></td>
        </tr>
      <% end %>
<tr>
          <td colspan="3"></td>
          <td class="right"><strong>Totale</strong></td>
          <td><strong><%= number_to_currency(@order.expense, :unit => "€ ", :separator => ",", :delimiter => ".") %></strong></td>
        </tr>
     </tbody>

    </table>

    <%= link_to 'Torna alla Lista degli Ordini', orders_path, class: 'radius button expand' %>
     	

</div>
</div>
