<div class="row">
  <div class="large-12 small-12 columns">
    <h1 class="centra charT">Lista Prodotti</h1>

    <fieldset>
      <div class="row">
        <div class="large-2 small-4 columns">
          <a href="/products?category=1">
            <%= image_tag "/system/category/fruit.jpg" %>
            <div class="panel centra">
              <h6>Fruit</h6>
            </div>
          </a>
        </div>

        <div class="large-2 small-4 columns">
          <a href="/products?category=2">
            <%= image_tag "/system/category/vegetable.jpg" %>
            <div class="panel centra">
              <h6>Vegetable</h6>
            </div>
          </a>
        </div>

        <div class="large-2 small-4 columns">
          <a href="/products?category=3">
            <%= image_tag "/system/category/gourmet.jpg" %>
            <div class="panel centra">
              <h6>Gourmet</h6>
            </div>
          </a>
        </div>

        <div class="large-2 small-4 columns">
          <a href="/products?category=4">
            <%= image_tag "/system/category/bio.jpg" %>
            <div class="panel centra">
              <h6>Bio</h6>
            </div>
          </a>
        </div>            

        <div class="large-2 small-4 columns">
          <a href="/products?category=5">
            <%= image_tag "/system/category/wine.jpg" %>
            <div class="panel centra">
              <h6>Wine</h6>
            </div>
          </a>
        </div>

        <div class="large-2 small-4 columns">
          <a href="/products?category=6">
            <%= image_tag "/system/category/oil.jpg" %>
            <div class="panel centra">
              <h6>Oil</h6>
            </div>
          </a>
        </div>
      </div>
      <%= form_tag(products_path, :method => "get", id: "search-form") do %>
        <div class="row collapse">
          <div class="large-10 small-9 columns">
            <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
          </div>
          <div class="large-2 small-3 columns">
            <button class="postfix button expand" type="submit">Search <i class="fi-magnifying-glass"></i></button>
          </div>
        </div>
      <% end %>
      
      <%= button_to 'Tutti i Prodotti', products_path, method: :get, class: 'button radius expand' %>
      <%= button_to  push_path, method: :get, class: 'button radius expand' do %>
        <i class="fi-burst-sale"></i> Solo Prodotti in Offerta <i class="fi-burst-sale"></i>
      <% end %>

    </fieldset>
</div>
</div>

<div class="row" data-equalizer>
  <div class="large-12 column">
    <%= foundation_paginate @products %>
    <% @products.each do |product| %>
      <table class="large-12 small-6 column">
        <tr>
          <td class="large-4 small-12 column centra"><%= link_to (image_tag product.image_url.url(:medium)), product_path(product) %></td>
          <td class="large-6 small-8 column" data-equalizer-watch>
            <h4><%= link_to product.title, product_path(product) %></h4>
            <h5>Prezzo: <%= number_to_currency(product.price,:unit => "€ ", :separator => ",", :delimiter => ".") %></h5>
            <h5>Disponibilità (kg): <%= number_to_currency(product.qnt, :unit => "", :separator => ",", :delimiter => ".", precision: 3) %></h5>     
          </td>
          <% if product.push? %>
            <td class="large-2 small-4 column"><i class="fi-burst-sale size-72 right"></i></td>
          <% else %>
            <td class="large-2 small-4 column"></td>
          <% end %>
        </tr>
      </table>    
    <% end %>
    <%= foundation_paginate @products %>
  </div>
</div>

